body{
    background-color: #000647;
    font-family: "Montserrat";
    color:white;
}

.rp{
	text-align : center;
	color : white;
	font-size:160%;
	border: 5px solid #FF70A6;
	padding-top : 5px;
	padding-bottom : 1px;
	width : 140px;
	height : 50px;
	border-style : outset;
	background-color : #FF70A6
}
h1 {
	font-size:180%;
	padding-top : 10px;
	padding-bottom:10px;
	width : 300px;
	height : 50px;
	text-align:center;
}

h3, .biggie{
    text-align: center;
    margin-top:150px;
    font-size:
}

.menu{
	text-align : center;
	font-size:180%;
	color:black;
}

.p{
	font-size : 160%	
}

.link{
	text-align: right;
	font-size:180%;
    padding:0px 30px;
    font-weight: 700;
    text-decoration:none;

}


.dropbtn {
  background-color: #7GD6FF;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: block;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.jbutton{
	position: block;
  	display: inline-block;
  	background-color: #7GD6FF;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

img{

	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
}


h6 {
	text-align : center;
	font-size : 16px;
}


.smalltext{
	text-align: left;

}

.thattext{
	font-family: "Courier New", Copperplate, monospace;
	text-align:right;
	font-size:20px;

}

.button{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FF70A6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #9e2b01;	  
  margin: 0;
  position: absolute;
  top: 50%;
  left:43%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
  

}

.button:hover {
    background-color: rgb(241, 168, 255);
}

.button:focus {
 box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.show {display: block;}